{% load i18n %}
{% load humanize %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% translate "Buy Orders" %}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="table-buy-orders">
            <thead>
                <tr>
                    <th class="text-left">{% translate "Region" %}</th>
                    <th class="text-left">{% translate "Quantity" %}</th>
                    <th class="text-left">{% translate "Price" %}</th>
                    <th class="text-left">{% translate "Location" %}</th>
                    <th class="text-left">{% translate "Expires" %}</th>
                    <th class="text-left">{% translate "Last Updated" %}</th>
                </tr>
            </thead>
        </table>
        <p class="text-info">
            {% translate "Owned Character Orders" %}
        </p>
        <p class="text-success">
            {% translate "Owned Corporation Orders" %}
        </p>
    </div>
</div>
