<form role="search" action="{% url 'marketmanager:marketbrowser' %}" method="get">
    <div class="form-group ui-widget">
        <input type="text" id="search" value class="form-control" placeholder="Search">
    </div>
</form>
